.titleContainer {
    //background-color: #ffffff;
    backdrop-filter: blur(10px) opacity(0.8);

    display: grid;
    grid-template-rows: 1fr 1fr 1fr minmax(50px, 80px);
    grid-gap: 0;
    justify-items: center;
    grid-row: 1 / 4;
    grid-column: 1 / 13;
    height: fit-content;
    padding-top: 3em;

    span {
        font-family: 'Roboto Mono', sans-serif;
        font-size: calc((100vh - 100px) / 3);
        font-weight: bold;
        margin: 0;
        line-height: 0.9;
        color: #000000;
        mix-blend-mode: screen;
    }

    @media screen and (min-width: 769px) {
        //grid-gap: 1em;
        grid-column: 1 / 7;
        justify-items: end;
        padding-top: 5vh;

        // span {
        //     font-size: calc((100vh) / 4);
        // }
    }
}