footer {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row: 4;
    z-index: 1;
    display: flex;
    justify-content: space-around;

    @media screen and (min-width: 769px) {
        padding: 1em 0;
        width: 100%;
        justify-content: space-evenly;
        grid-row: 4;
    }
}