@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito-Black';
    src: url('/fonts/Nunito-Black.ttf');
}

@font-face {
    font-family: 'Nunito-BlackItalic';
    src: url('/fonts/Nunito-BlackItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('/fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-BoldItalic';
    src: url('/fonts/Nunito-BoldItalic.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('/fonts/Nunito-ExtraBold.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraBoldItalic';
    src: url('/fonts/Nunito-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraLight';
    src: url('/fonts/Nunito-ExtraLight.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraLightItalic';
    src: url('/fonts/Nunito-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Italic';
    src: url('/fonts/Nunito-Italic.ttf');
}

@font-face {
    font-family: 'Nunito-Light';
    src: url('/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: 'Nunito-LightItalic';
    src: url('/fonts/Nunito-LightItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url('/fonts/Nunito-Medium.ttf');
}

@font-face {
    font-family: 'Nunito-MediumItalic';
    src: url('/fonts/Nunito-MediumItalic.ttf');
}

@font-face {
    font-family: 'Nunito-Regular';
    src: url('/fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('/fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito-SemiBoldItalic';
    src: url('/fonts/Nunito-SemiBoldItalic.ttf');
}
